/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints

// Responsive manager
@mixin homeSmallMobile{
    @media only screen and (min-width: #{$home-small}) and (max-height:500px){
        @content;
    }
}

@mixin homeSmall {
    @media only screen and (min-width: #{$home-small}) and (min-height:510px){
        @content;
    }
}

@mixin homeMedium {
    @media only screen and (min-width: #{$home-medium}) {
        @content;
    }
}

@mixin homeSemiLarge {
    @media only screen and (min-width: #{$home-semi-large}) {
        @content;
    }
}

@mixin homeLarge {
    @media only screen and (min-width: #{$home-large}) {
        @content;
    }
}

@mixin medium {
    @media (min-width: #{$medium}) {
        @content;
    }
}

@mixin medium-single {
    @media (min-width: #{$medium-single}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$page-large}) {
        @content;
    }
}

@mixin small {
    @media (min-width: #{$page-small}) {
        @content;
    }
}

// Responsive height

@mixin medium-height {
    @media (min-height: #{$medium-height}) {
        @content;
    }
}
//
//
// @mixin large-height {
//     @media (min-height: #{$large}) {
//         @content;
//     }
// }

// Size manager
@mixin size($width,$height: auto) {
    width: $width;
    height: $height;
}
