// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Breakpoints
$small: 375px;
$medium: 900px;
$large: 1200px;

$xs: 380px;
$medium-single: 700px;
// Fonts
