// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Breakpoints
$home-small: 380px;
$home-medium: 760px;
$home-semi-large: 950px;
$home-large: 1100px;
$home-ultra-large: 1300px;

// Width Breakpoints
$small: 375px;
$medium: 900px;
$large: 1200px;

$page-small: 375px;
$page-large: 1200px;
$page-xs: 380px;
$medium-single: 700px;
// Fonts

$about-small: 350px;
$about-medium: 700px;
$about-semi-large: 950px;
$about-large: 1100px;

$allworks-medium : 700px;
$allworks-large : 1000px;