// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
/**
 * Set up a decent box model on the root element
 */
html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    overflow-x: hidden;
}

body{
	color: #353535;
}


::-webkit-scrollbar {
	display: none;
    // width: 0px;  /* remove scrollbar space */
    // background: transparent;  /* optional: just make scrollbar invisible */
}

.container.fade{
	opacity: 0;
	transition: opacity 0.5s ease;
}
/**
 * Basic styles for links
 */
a {}
