// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

body{
  height: 100%;
}

body{
	color: #353535;
}


/**
 * Basic styles for links
 */
a {

}
