// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
/**
 * Set up a decent box model on the root element
 */
html {
    box-sizing: border-box;
    // height: 100%;
    margin: 0;
}

body {
    // height: 100%;
    overflow-x: hidden;
    transform: translate(0,0);
}

body{
	color: #353535;
}

::scrollbar {
	display: none;
}

::-webkit-scrollbar {
	display: none;
}

::-moz-scrollbar{
  display: none;
}

::-ms-scrollbar{
  display: none;
}

.container.fade{
	opacity: 0;
	transition: opacity 0.5s ease;
}

body{
	color: #353535;
}

.content{
  height: 100%;
  width: 100%;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/**
 * Basic styles for links
 */
