.carousel{
	position: fixed;
	@include size(auto,170px);
	right: 10px;
	top: calc(50% - 85px);
	margin: 0;
	z-index: 10;

	@include homeLarge{
		margin: 0 5px;
	}
	@include homeMediumLandscape{
		display: none;
	}
}

.carousel__select{
	list-style: none;
}

.carousel__option{
	line-height: 2.2;
	text-align: left;
	color: #353535;
	opacity: 1;
	cursor: pointer;

	span{
		font-size: 11px;
		opacity: 0;
		display: inline-block;
		transform: translateX(0px);
		transition: opacity 0.1s ease-in, transform 0.15s ease-in;
	}

	&:after{
		opacity: 1;
		content:'';
		display: inline-block;
		padding: 0 0 1.5px 0;
		width: 13px;
		background: #707070;
		vertical-align: middle;
		transform: translateX(0px) translateX(0);
		transform-origin: right right;
		transition: opacity 0.1s ease-in, transform 0.15s ease-in;
	}

	&:hover{
		span{
			opacity: 1;
			transform: translateX(17px);
			transition: opacity 0.1s ease-in, transform 0.15s ease-in;
		}

		&:after{
			opacity: 0;
			transform: translateX(10px) translateX(0);
			transform-origin: right right;
			transition: opacity 0.1s ease-in, transform 0.15s ease-in;
		}
	}

}

.carousel__option--on{
	span{
		opacity: 1;
		transform: translateX(17px);
		transition: opacity 0.1s ease-in, transform 0.15s ease-in;
	}

	&:after{
		opacity: 0;
		transform: translateX(10px) translateX(0);
		transform-origin: right right;
		transition: opacity 0.1s ease-in, transform 0.15s ease-in;
		display: none;
	}
}
