.loading{
	display: none;
	position: relative;
	width: 100%;
	height: 100vh;
	font-size: 34px;
	background: #ffffff;
	z-index: 20;
	opacity: 1;
	transition: opacity .3s .5s; 
}	

.loading__logo {
	left: calc(50% - 80px);
	position: absolute;
    z-index: 30;
	width: 150px;
	margin: auto;
	top: 150px;
	animation: fadeIn .9s;

}

.loading__title {
	position: absolute;
    z-index: 30;
    width: 100%;
    font-size: 30px;
	text-align: center;
	top: 320px;
	animation: fadeIn .9s;
}

.loading__layout {
	background: #ffffff;
	position: absolute;
	width: 100%;
	height: 100vh;
	transform: translateX(-100%);
	transition: ease-in-out transform .6s;
	z-index: 10;
}

.loading__percents{
	position: absolute;
	z-index: 10;
	font-size: 15px;
	text-align: center;
	display: block;
    width: 100%;
    bottom: 20px;
    animation: fadeIn .9s;
}

.loading__progress{
	width: 100%;
	height: 100vh;
	position: absolute;
	transform: translateX(-100%);
	transition: all .4s;
	transform-origin: 0 0;
	background: #f7f7f7;
}

@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}