.loading{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	font-size: 34px;
	background: #ffffff;
	z-index: 20;
	opacity: 1;
	transition: opacity .3s .5s;
}

.loading__logo {
	left: calc(50% - 60px);
	position: absolute;
    z-index: 30;
	width: 100px;
	margin: auto;
	top: calc(50% - 96.5px);
	animation: fadeIn .9s;

	@include homeSmallMobile{
		left: calc(50% - 60px);
		width: 120px;
		// top: 10px;
	}

	@include mobileLandscape {
		top: 40px;
	}

	@include homeSmall{
		// top: 150px;
	}

}

.loading__title {
	position: absolute;
  z-index: 30;
  width: 100%;
  font-size: 18px;
	text-align: center;
	bottom: 50px;
	animation: fadeIn .9s;

	@include homeSmallMobile{
		font-size: 18px;
		bottom: 50px;
	}

	@include mobileLandscape {
		top: 260px;
	}
}

.loading__layout {
	background: #ffffff;
	position: absolute;
	width: 100%;
	height: 100vh;
	transform: translateX(-100%);
	transition: ease-in-out transform .6s;
	z-index: 10;
}

.loading__percents{
	position: absolute;
	z-index: 10;
	font-size: 15px;
	text-align: center;
	display: block;
    width: 100%;
    bottom: 20px;
    animation: fadeIn .9s;
	@include mobileLandscape {
		top: 300px;
	}
}

.loading__progress{
	width: 100%;
	height: 100vh;
	position: absolute;
	transform: translate3d(-100%,0,0);
	transition: all .4s;
	transform-origin: 0 0;
	background: #ECF0FE;
  opacity: 0.4;
}

@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
