.loading{
	position: relative;
	width: 100%;
	height: 100vh;
	font-size: 34px;
	background: #fefefe;

	.loading__percents{
		position: absolute;
		z-index: 10;
		color: blue;
		font-size: 58px;
	}

	.loading__progress{
		width: 100%;
		height: 100vh;
		position: absolute;
		transform: translateX(-100%);
		transition: all .8s;
		transform-origin: 0 0;
		background: #8E8E8E;
	}
}	