// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header{
	@include size(100%,0px);
	position: fixed;
}

ul.menu{
	display: flex;
	margin: 30px 5%;
	padding: 0;
	font-size: 13px;
	justify-content: space-between;

	li{
		list-style: none;

		a{
			text-decoration: none;
			color: #353535;
		}
	}

	li.menu__back-home{
		display: none;	
	}

	li.menu__about{
		margin-left: 30px;
	}

	@include homeMedium{
		justify-content: flex-start;
	}


}