@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer',
  'layout/homeProject';

// 5. Components
@import
  'components/button',
  'components/loader',
  'components/carousel',
  'components/lazyload';

  // 6. Page-specific styles
@import
  'pages/page-home',
  'pages/page-project',
  'pages/page-about',
  'pages/page-allworks';
