// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home{

	.project{
		@include size(100%, 100vh);
		position: relative;
		display: flex;
		overflow: hidden;
		font-family: 'Aktiv Grotesk Corp';
		flex-direction: column;

		@include homeMedium{
			flex-direction: row;
			width: 140%;
		}

		@include homeSemiLarge{
			flex-direction: row;
			width: 140%;
		}

	}

	.project__informationsContainer{
		display: flex;
		justify-content: inherit;
	   	flex-direction: column;
	   	padding: 0% 17% 0% 5%;

	   	@include homeMedium{
			padding: 0 17% 0% 5%;
		}

		@include homeSemiLarge{
			padding: 0 26% 0% 4%;
		}
		
		.project__titleBox{
			position: absolute;
			height: 60px;
			width: 350px;
			bottom: 30px;
			font-size: 24px;
			line-height: 24px;
			overflow: hidden;
			z-index: 10;

			@include homeSmall{
				bottom: 60px;
			}

			@include homeMedium{
				bottom: 100px;
			}

			@include homeSemiLarge{
				bottom: 220px;
			}

			@include homeLarge{
				bottom: 300px;
			}

		}

		.project__title{
			top: 100%;
		    height: 60px;
    		position: absolute;
			transition: transform 1200ms cubic-bezier(0.77, 0, 0.175, 1);
			font-family: 'ITC Avant Garde Pro';

		}

		p.project__description, .project__see{
			line-height: 1.5;
			display:none;
			position: absolute;
			bottom: 0;
		}

		p.project__description{
			color: #8E9093;

			@include homeSemiLarge{
			    width: 290px;
			    bottom: 120px;
			    display: block;
			}	

			@include homeLarge{
				bottom: 200px;
			}
		}

		.project__see{
			bottom: 80px;
			cursor: pointer;
			transform: translateX(0);
			transition: ease-in-out 0.1s;
			
			@include homeMedium{
				display: block;
			}

			@include homeLarge{
				bottom: 120px;
			}

			&:before{
				transform: scaleX(1);
				transition: all .8s cubic-bezier(.19,1,.22,1);
				transform-origin: 0 0;
				content:'';
				display: inline-block;
	    		padding: 0 0 1.5px 0;
	    		width: 20px;
				background: #000;
				vertical-align: middle;
				margin-right: 30px;
				cursor: pointer;
			}

			&:hover:before{
				transform: scaleX(1.8);
				transition: all .8s cubic-bezier(.19,1,.22,1);
				margin-right: 50px;
			}

		}
	}

	.project__imgContainer{
		@include size(50%);
		
		@include homeSemiLarge{
			@include size(43%);
		}
		
		.project__imageFrontBox{
			@include size(100%);
			overflow: hidden;
			z-index: 10;
			top: calc(50% - 112.5px);
			left: 0;
			position: absolute;

			@include homeSmall{
				top :calc(50% - 142.5px);
			}

			@include homeMedium{
				top: calc(50% - 225px);
				left: 5%;
			}

			@include homeSemiLarge{
				left: 25%;
			}
			
			// resize this container for anim on .project__imageFront
			@media screen and (max-width: 600px) {
		        height: 256px;
		    }
		    @media screen and (min-width: 600px) and (max-width: 1000px) {
		        height: 400px;
		    }
		    @media screen and (min-width: 1000px) {
		        height: 450px;
		    }
		}

		.project__imageFront{
			position: absolute;
			top: 100%;
			z-index: 0;
			transition: transform 800ms cubic-bezier(0.85, 0, 0.24, 0.99);
			// @include homeMedium{
			// 	@include size(50%);
			// 	left: 25%;
			// }

			// @include large{
			// 	@include size(33%);
			// }

		}
		
		.project__imageBox{
			@include size(90%,100vh);
			position: relative;
			display: flex;	
			// justify-content: center;
			@include homeMedium{
				overflow: hidden;
			}

			// resize this container for anim on .project__imageBackground
			@media screen and (max-width: 600px) {
		        // height: 460px;
		        justify-content: flex-end;
		    }
		    @media screen and (min-width: 600px) and (max-width: 900px) {
		        height: 100vh;
		    }
		    @media screen and (min-width: 900px) {
		        height: 100vh;
		    }
		}

		.project__imageBackground{
			@include size(auto,500px);
			// top: 80px;
			position: absolute;
			top: 100%;
			z-index: 0;
			// transform: translateX(70px);
			transition: transform 800ms cubic-bezier(0.85, 0, 0.24, 0.99);

			@include homeSmall{
				@include size(auto,100vh);
				// position: static;
				// transform: translateX(-250px);
			}

			@include homeMedium{
				// transform: translateX(-190px);
			}

			@include homeSemiLarge{
				// transform: translateX(110px);
			}

		}

	}

}



