// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.project{
	@include size(100%, 100vh);
	position: relative;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	font-family: 'ITC Avant Garde Pro Md';

	@include small{
		flex-direction: column;
	}
}

.project__informations-container{
	display: flex;
	justify-content: inherit;
   	flex-direction: column;
   	padding: 25% 17% 0% 5%;

   	@include mediumLarge{
   		padding: 33% 17% 0% 5%;
   	}

    @include medium{
    	justify-content: flex-end;
    	@include size(50%);
		padding: 0 2% 15% 10%;
    }

	.project__title{

		@include small{
			position: absolute;
			bottom: 80px;
			font-size: 24px;
		}
	}

	p.project__description, .project__see{
		line-height: 1.5;

		@include small {
			display:none;
		}
	}

	.project__see{
		margin-top: 60px;
	}
}

.project__img-container{
	@include size(50%);

	img.project__image-front{
		z-index: 10;
		top: 20%;
		left: 45%;
		position: absolute;

		@include large{
			@include size(33%);
		}

		@include mediumLarge{
   			@include size(40%);
   			left: 40%;
   		}

		@include medium{
			@include size(50%);
			left: 25%;
		}

		@include small {
			top: calc(50% - 142.5px);
			@include size(285px);
			left: 0;
		}
	}
	
	.project__image-box{
		@include size(90%,100vh);
		overflow: hidden;
	}

	img.project__image-background{
		@include size(auto, 100vh);
		z-index: 0;
		opacity: 0.2;
		transform: translateX(-25%);

		@include small {
			position: absolute;
			top: 80px;
			@include size(auto,500px);
			transform: translateX(70px);
		}
	}

}

.carousel{
	position: fixed;
	@include size(auto,170px);
	right: 10px;
	top: calc(50% - 85px);
	margin: 0;
}

ul.carousel__select{
	list-style: none;

	li.carousel__option{
		line-height: 2.2;
		text-align: left;
		color: #353535;
		opacity: 1;
		cursor: pointer;

		span{
			opacity: 1;
		}

		&:before{
			opacity: 0;
			transform: translateX(0px);
			content:'';
			display: inline-block;
    		padding: 0 0 1.5px 0;
    		width: 10px;
			background: #707070;
			vertical-align: middle;
		}

	}

	li.carousel__option.carousel__option--on{
		span{
			opacity: 0;
		}

		&:before{
			opacity: 1;
			transform: translateX(13.5px);
		}
	}

}




