.content.about {
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	// height: 100%;
}

.content_container {
	position: relative;
	width: 80%;
	height: 80%;
	box-sizing: border-box;
	top: 0;

	@include mobileLandscape{
		display: flex;
		flex-direction: column-reverse;
		margin-top: 100px;
	}
}

.about__imgBox{
    position: absolute;
    top: 110px;
    right: 0;
    width: 232px;
    height: 299px;
		opacity: 0;
		transition: opacity 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

	@include mobileLandscape{
		position: relative;
	}

	@include homeMedium{
		width: 400px;
		height: 516px;
	}

	@include homeLarge{
		right: 15%;
	}
}

.container--visible .about__imgBox {
    opacity: 1;
    transition: opacity 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

		@include mobileLandscape{
			position: relative;
			margin: 270px auto 0 auto;
		}
}

.about__img{
	height:100%;
	width: 100%;
	opacity: 0.65;
}

.about__text{
    margin-top: 350px;
    position: absolute;
    font-size: 22px;
    line-height: 33px;
    color: #353535;
		opacity: 0;
    transform: translateY(	200px);
    transition: opacity 600ms cubic-bezier(0.645, 0.045, 0.355, 1) 200ms,
                transform 800ms cubic-bezier(0.645, 0.045, 0.355, 1);

	@include mobileLandscape{
		position: relative;
	}

	@include homeMedium{
		margin-top: 0;
	    font-size: 30px;
	    line-height: 50px;
	    top: 496px;
	    // padding: 0px 80px 100px 80px;
	}

	@include homeLarge{
		margin-top: 0;
	    top: 170px;
	    left: 15%;
	    font-size: 30px;
	    width: 530px;
	}
}

.container--visible .about__text {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1) 200ms,
                transform 500ms cubic-bezier(0.645, 0.045, 0.355, 1) 0ms;
}

.about__mail{
	font-weight: bold;
}

.about__link{
	text-decoration: none;
	color: #DAC670;
}
