// -----------------------------------------------------------------------------
// This file contains styles that are specific to the single singleProject page.
// -----------------------------------------------------------------------------

.singleProject {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Aktiv Grotesk Corp';
    margin: 0 auto 60px 0;
    width: 288px;
    height: auto;
    align-items: center;
    opacity: 0;
    transform: translateX(0px);
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    @include small {
        width: 335px;
    }
    @include medium-single {
        box-sizing: border-box;
        display: inline-flex;
        flex-direction: row;
        padding-left: 150px;
        width: auto;
        height: 100%;
        margin: 0;
    }
    @include large {
        padding-left: 300px;
    }
}

.singleProject.visible {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 1s ease-out;
}

.singleProject__scroll {
    display: none;
    @include medium-single {
        display: inline;
        font-family: 'Aktiv Grotesk Corp';
        font-size: 13px;
        opacity: 0.33;
        width: 50px;
        position: absolute;
        transform: rotate(-90deg) translateX(-430px);
        -webkit-transform: rotate(-90deg) translateX(-630%);
    }
    @include large {
        transform: rotate(-90deg) translateX(-430px);
        -webkit-transform: rotate(-90deg) translateX(-630%);
    }
}

.singleProject__scroll:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    background: #000000;
    opacity: 0.9;
    transform: rotate(90deg) translate(30px, 23px);
}

.singleProject__header {
    opacity: 1;
    color: #353535;
    transition: all ease 800ms;
    @include medium-single {
        // margin-right: -400px;
        z-index: -1;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 1800px;
        // transform: translate(0px,0px);
    }
    @include large {
        // margin-right: -1100px;

    }
}

.singleProject__header--hidden{
    opacity: 0;
    transition: all ease 800ms;
    // transform: translate(-180px,0px);
}

.singleProject__title {
    font-size: 24px;
    font-family: 'ITC Avant Garde Pro';
    color: #000000;
    display: flex;
    flex-wrap: nowrap;
    width: 200%;
    opacity: 0.03;
    transition: all ease 300ms;
    @include medium-single {
        font-size: 219px;
        opacity: 0.03;
        margin: 10% 0 0 110px;
    }
    @include large {
        font-size: 300px;
        margin: 0 0 0 110px;
    }
}

.singleProject__title--hidden{
    opacity: 0;
}

.singleProject__card {
    @include medium-single {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
}

.singleProject__infos {
    font-size: 13px;
    margin: 30px 0 0;

    .singleProject__info {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin: 8px 0 0;
        @include medium-single {
            margin: 0 70px 0 0;
        }
        @include large {
            margin: 0 70px 0 0;
        }

        p {
            margin: 0;
            padding: 0;
        }
    }

    .singleProject__subtitle {
        margin: 0 5px 0 0;
        font-weight: bold;
        font-size: 13px;
        font-family: 'ITC Avant Garde Pro';
    }

    .singleProject__small-info {
        color: #8E9093;
    }
}

.singleProject__description {
    font-family: 'Aktiv Grotesk Corp';
    font-size: 13px;
    margin: 40px 0;
    line-height: 1.7;
    @include medium-single {
        display: block;
        width: 250px;
        margin: 0;
    }
}

.singleProject__main-content {
    transform: translateX(0) translateZ(0);
    backface-visibility: hidden;
    transition: transform ease-in 10ms;
    @include medium-single {
        top: 0;
        display: flex;
        flex-direction: row;
        margin-top: 0px;
        width: auto;
        margin: 0;
        z-index: 5;
        height: 100%;
        margin-left: -900px;
        transform: translateX(0px) translateZ(0);

    }
    @include large {
        // transform: translateX(-1100px) translateZ(0);
        margin-left: -1100px;
    }
}

.singleProject__main-content--translated{
    transition: margin-top ease 250ms;
    margin-left: 0;
}

.singleProject__photo {
    width: 100%;
    transform: translateX(0);
    @include medium-single {
        width: auto;
        height: 427px;
        position: relative;
    }
    @include large {
        height: 551px;
    }
}

.singleProject__photo.lazyload, .singleProject__photo.lazyloading {
    opacity: 0;
}

.singleProject__photo.lazyloaded{
    opacity: 1;
    transition: opacity 300ms;
}


.singleProject__background-container {
    display: none;
    flex-shrink: 0;
    transition: all ease 1.5s;
    @include medium-single {
        display: block;
        width: 570px;
        height: 100%;
        overflow: hidden;
        z-index: -1;
        left: 0;
        top: 0;
        position: absolute;
        transform: translate(70%,0);
        opacity: 0;
    }
    @include large {
        width: 670px;
        height: 100%;
    }

    .singleProject__bg-photo {
        height: 100%;
        opacity: 0.30;
    }
}

.singleProject__background-container.lazyload,
.singleProject__background-container.lazyloading {
    opacity: 0;
}

.singleProject__background-container.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}


.singleProject__background-container.singleProject__background-container--visible{
    @include medium-single{
        opacity: 1;
        background: #FFFFFF;
        transition: all ease 1.5s;
        transform: translate(70%,0);
    }
}

.singleProject__background-container.lazyload,
.singleProject__background-container.lazyloading {
    opacity: 0;
}

.singleProject__background-container.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

.singleProject__background-container--teaser{
    opacity: 1;
    transition: opacity 0.4s ease-in;
    background: #FFFFFF;
    @include medium-single{
        width: 570px;
        overflow: hidden;
    }
    @include large{
        // width: 670px;
    }
}
.singleProject__teasing {
    display: flex;
    flex-direction: row;
    transform: translateX(0);
    margin-bottom: 15px;
    @include medium-single{
        margin: 0;
        align-items: center;
        width: auto;
    }

    @include large{
        margin: 0;
    }
}

.singleProject__teasing-visible{

}

.singleProject__subtitle {
    font-size: 24px;
    color: #353535;
    margin: 0 0 18px;
    font-family: 'ITC Avant Garde Pro';
    @include medium-single {
        font-size: 24px;
    }
    @include large {
        font-size: 30px;
    }
}

.singleProject__link {
    text-decoration: none;
    font-family: 'Aktiv Grotesk Corp';
    color: #8E9093;
}

.singleProject__teasing-infos{
    opacity: 1;
    transition: opacity 0.4s ease-in;
    @include medium-single{
        width: 230px;
        margin: 0 150px 0 0;
    }
}

.singleProject__bg-photo--teaser {
    display: none;
    @include medium-single{
        width: 570px;
        display: block;
        // TODO see with lazyloading to remove important
        opacity: 0.5 !important;
        filter: grayscale(100%);
        height: 100%;
    }

    @include large{
        width: auto;
        height: 100%;
    }
}

.singleProject__bg-photo--teaser.lazyload,
.singleProject__bg-photo--teaser.lazyloading {
    opacity: 0;
}

.singleProject__bg-photo--teaser.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}


.singleProject__bg-photo--teaser--hidden {
    opacity: 0;
}

.singleProject__photo-wrap{
    width: 100%;
    margin: 0 0 45px 0;
    opacity: 1;
    transition: opacity 0.4s ease-in, transform 0.4s ease-in;
    @include medium-single{
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        margin: 0 165px 0 0;
    }
}

.scrollbar {
    display: none;
    @include medium-single{
        position: fixed;
        left: 0;
        display: block;
        width: 0;
        transform: translateZ(0);
        transform-origin: 0 0;
        height: 5px;
        background: #000000;
        bottom: 0;
        backface-visibility: hidden;
        transition: transform linear 30ms;
    }
}



.project--scrolling .singleProject__photo-wrap {
    transform: translateX(-100%);
    opacity: 0;
}

.project--scrolling .singleProject__teasing-infos {
    opacity: 0;
}

.project--scrolling .singleProject__background-container--teaser{
    opacity: 0;
}