.allWorks {
    font-family: 'Aktiv Grotesk Corp';
}

.allWorks__container {
    display: flex;
    justify-content: flex-start;
    height: calc(90vh - 100px);
    position: relative;

    @include allworksMedium{
        align-items: flex-end;
    }   
}

.allWorks__title {
    margin: 120px 40px;
    font-size: 30px;
    font-weight: 500;
    z-index: 10;
    opacity: 0;
    transform: translateX(-80px);


    @include allworksMedium{
        margin: 0 0 0 10%;
    }   
    
    @include allworksLarge{
        margin: 0 0 0 15%;
    }   
}

.container--visible .allWorks__title {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 900ms 300ms cubic-bezier(0.645, 0.045, 0.355, 1), 
                transform 900ms 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.allWorks__list {
    display: flex;
    flex-direction: column;
    height: auto;
    position: absolute;
    z-index: 10;
    transform: rotate(0deg);
    top: 200px;
    left: 40px;
    right: 0;

    @include allworksMedium{
        transform-origin: 45% 50% 0;
        transform: rotate(-90deg);
        bottom: -82px;
        right: 250px;
        top: auto;
        left: auto;
    }   

    @include allworksLarge{
        bottom: -195px;
        right: 450px;
    }
}

.allWorks__listTitles {
    font-size: 30px;
    font-family: 'Aktiv Grotesk Corp';
    font-weight: normal;
    margin-bottom: 100px;
    cursor: pointer;
    opacity: 0;
    transform: translateX(-60px);   
    text-decoration: none;
    color: #D8D8D8;
    transition: color cubic-bezier(0.645, 0.045, 0.355, 1) 100ms;
    text-decoration: none;

    &:hover {
        color: #000;
        transition: color cubic-bezier(0.645, 0.045, 0.355, 1) 100ms;
    }

    @include allworksMedium{
        width: 390px;
        margin-bottom: 40px;
        font-size: 30px;
    }   

    @include allworksLarge{
        width: 390px;
        margin-bottom: 70px;
    }   

    h2 {
        padding-left: 40px;
        font-size: 30px;
        margin: 10px 0;
        line-height: 1.5;

        @include allworksMedium{
            padding-left: 40px;
            font-size: 30px;
            margin: 10px 0;
        } 
    }

    span {
        position: absolute;
        left: 0px;
        margin-right: 20px;
        font-weight: 500;
        color: #000;

        @include allworksLarge{
            position: static;
            margin-right: 50px;
        }
    }
}

.container--visible .allWorks__listTitles {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1), 
                transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

$delay: 5;
// doing this delay in css in order to avoid to do it in js but maximum 15 elements !
@for $i from 1 through 15 {
    .container--visible .allWorks__listTitles {
        &:nth-child(#{$i}) {
            transition-delay: ($delay + $i) * 0.15s;
        }
    }
}

@for $i from 1 through 15 {
    .allWorks__listTitles {
        &:nth-child(#{$i}) {
            transition-delay: ($delay + $i) * 0.15s;
        }
    }
}

.allWorks__imageContainer{
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    right: 150px;
    overflow: hidden;  
}

.allWorks__image {
    position: absolute;
    opacity: 0;
    min-width: 100%;
    min-height: 100%;
    transition: opacity 500ms;
}



.allWorks__image--visible {
    opacity: 1;
    transition: opacity 500ms;
}
