.content.about {
	padding-top: 298px;
}
.about__imgBox{
    position: absolute;
    top: 110px;
    right: 0;
    width: 232px;
    height: 299px;
	opacity: 0;
	transition: opacity 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

	@include homeMedium{
		width: 400px;
		height: 516px;
	}

	@include homeLarge{
		right: 10%;
	}
}

.container--visible .about__imgBox {
    opacity: 1;
    transition: opacity 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.about__img{
	height:100%;
	width: 100%;
}

.about__text{
    // margin-top: 250px;
    padding: 0px 43px 10px 43px;
    font-size: 22px;
    line-height: 33px;
    color: #353535;
	// opacity: 0;
    // transform: translateY(-60px);
    // transition: opacity 300ms 300ms cubic-bezier(0.645, 0.045, 0.355, 1), 
    //             transform 300ms 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

	@include homeMedium{
	    font-size: 30px;
	    line-height: 50px;
	    top: 496px;
	    padding: 0px 80px 100px 80px;
	}

	@include homeLarge{
	    top: 170px;
	    left: 10%;
	    font-size: 30px;
	    width: 530px;
	}
}

.container--visible .about__text {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1), 
                transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.about__mail{
	font-weight: bold;
}

.about__link{
	text-decoration: none;
	color: #DAC670;
}