// -----------------------------------------------------------------------------
// This file contains styles that are specific to the single project page.
// -----------------------------------------------------------------------------

.singleProject {
    display: flex;
    flex-direction: column;
    font-family: 'Aktiv Grotesk Corp';
    margin: 0 auto 60px;
    width: 288px;
    height: 100%;
    align-items: center;
    @include small {
        width: 335px;
    }
    @include medium-single {
        display: inline-flex;
        flex-direction: row;
        width: inherit;
        margin: 0 auto 0 200px;
        align-items: center;
    }
    @include large {
        display: inline-flex;
        width: auto;
        height: 100%;
    }
}

.singleProject__scroll {
    display: none;
    @include medium-single {
        display: inline;
        font-family: 'Aktiv Grotesk Corp';
        font-size: 13px;
        opacity: 0.33;
        width: 50px;
        position: absolute;
        transform: rotate(-90deg) translateX(-430px);
        -webkit-transform: rotate(-90deg) translateX(-630%);
    }
    @include large {
        transform: rotate(-90deg) translateX(-430px);
        -webkit-transform: rotate(-90deg) translateX(-630%);
    }
}

.singleProject__scroll:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    background: #000000;
    opacity: 0.9;
    transform: rotate(90deg) translate(30px, 23px);
}

.singleProject__header {
    color: #353535;
    @include medium-single {
        margin-right: -80px;
        z-index: -1;
    }
    @include large {
        margin-right: -100px;
    }
}

.singleProject__title {
    font-size: 24px;
    font-family: 'ITC Avant Garde Pro';
    color: #000000;
    @include medium-single {
        font-size: 219px;
        opacity: 0.03;
        margin: 20% 0 0 110px;
    }
    @include large {
        font-size: 300px;
        margin: 0 0 0 110px;
    }
}

.singleProject__card {
    @include medium-single {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
}

.singleProject__infos {
    font-size: 13px;
    margin: 30px 0 0;

    .singleProject__info {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin: 8px 0 0;
        @include medium-single {
            margin: 0 70px 0 0;
        }
        @include large {
            margin: 0 70px 0 0;
        }

        p {
            margin: 0;
            padding: 0;
        }
    }

    .singleProject__subtitle {
        margin: 0 5px 0 0;
        font-weight: bold;
        font-size: 13px;
        font-family: 'ITC Avant Garde Pro';
    }

    .singleProject__small-info {
        color: #8E9093;
    }
}

.singleProject__description {
    font-family: 'Aktiv Grotesk Corp';
    font-size: 13px;
    margin: 40px 0;
    line-height: 1.7;
    @include medium-single {
        display: block;
        width: 250px;
        margin: 0;
    }
}

.singleProject__main-content {
    height: 100%;
    @include medium-single {
        display: flex;
        flex-direction: row;
        // margin-top: 108px;
    }
    @include large {
        margin-top: 0px;
    }
}

.singleProject__photo {
    width: 100%;
    @include medium-single {
        width: auto;
        height: 427px;
        position: relative;
    }
    @include large {
        height: 551px;
    }
}

.singleProject__background-container {
    display: none;
    @include medium-single {
        display: block;
        width: 570px;
        height: 100%;
        overflow: hidden;
        z-index: -1;
        top: 0;
        margin-left: -200px;
    }
    @include large {
        width: 670px;
        height: 100%;
    }

    .singleProject__bg-photo {
        height: 100%;
        opacity: 0.30;
    }
}

.singleProject__teasing {
    display: flex;
    flex-direction: row;

    @include medium-single{
        align-items: center;
    }
}

.singleProject__subtitle {
    font-size: 24px;
    color: #353535;
    margin: 0 0 18px;
    font-family: 'ITC Avant Garde Pro';
    @include medium-single {
        font-size: 24px;
    }
    @include large {
        font-size: 30px;
    }
}

.singleProject__link {
    text-decoration: none;
    font-family: 'Aktiv Grotesk Corp';
    color: #8E9093;
}

.singleProject__teasing-infos{
    @include medium-single{
        width: 230px;
        margin: 0 150px 0 0;
    }
}

.singleProject__bg-photo--teaser {
    display: none;
    @include medium-single{
        display: block;
        opacity: 0.5;
        filter: grayscale(100%);
        height: 100%;
    }
}

.singleProject__photo-wrap{
    width: 100%;
    margin: 0 0 45px 0;

    @include medium-single{
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        margin: 0 165px 0 0;
    }
}

.scrollbar{
    display: none;
    @include medium-single{
        position: fixed;
        display: block;
        width: 0;
        height: 5px;
        background: #000000;
        bottom: 0;
    }
}
